# api/config/packages/security.yaml
security:
    encoders:
        App\Entity\User:
            algorithm: auto


    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
        # used to reload user from session & other features (e.g. switch_user)

    firewalls:
        dev:
            pattern: ^/_(profiler|wdt)
            security: false
        registration:
            pattern: ^/users
            anonymous: true
            stateless: true
            methods: [POST]
        login:
            pattern: ^/authentication
            stateless: true
            anonymous: true
            provider: app_user_provider
            json_login:
                check_path: /authentication_token
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        /:
            pattern: ^/
            stateless: true
            anonymous: true
            guard:
                authenticators:
                - lexik_jwt_authentication.jwt_token_authenticator       
        main:
            anonymous: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

    access_control:
        - { path: ^/docs, roles: IS_AUTHENTICATED_ANONYMOUSLY #IS_AUTHENTICATED_FULLY,
            #methods: [POST, PUT, DELETE, ]
          } # Allows accessing the Swagger UI
        - { path: ^/authentication_token, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        #- { path: ^/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/products, roles: IS_AUTHENTICATED_FULLY,
            methods: [POST, PUT, DELETE ]
          }
        - { path: ^/categories, roles: IS_AUTHENTICATED_FULLY,
            methods: [POST, PUT, DELETE ]
          }
        - { path: ^/orders, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/comments, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/messages, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/bookmarks, roles: IS_AUTHENTICATED_FULLY }

        - { path: ^/order_items, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/payment_results, roles: IS_AUTHENTICATED_FULLY }
        - {
            path: ^/users, #roles: IS_AUTHENTICATED_ANONYMOUSLY
            roles: IS_AUTHENTICATED_FULLY,
            methods: [GET, PUT, DELETE ]
        }
        # - { path: ^/admin, roles: ROLE_ADMIN }
      # - { path: ^/profile, roles: ROLE_USER }